<h1>Selamat Datang di Challenge 5</h1>

<a href="/chapter-3"><button>chapter-3</button></a>
<a href="/chapter-4"><button>chapter-4</button></a>
<% if (authen) { %>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
<% } %>
